<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Acme Product Management</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/app.css" media="screen" title="no title" charset="utf-8">

    <!-- Dependencies -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-resource/dist/ng-resource.min.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Application -->
    <script src="app/app.js"></script>

    <!-- Services -->
    <script src="common/services/common.services.js"></script>
    <script src="common/services/productResource.js"></script>
    <script src="common/services/productResourceMock.js"></script>

    <!-- ProductControllers -->
    <script src="app/products/ProductListCtrl.js"></script>
  </head>
  <body ng-app="productManagement">
    <div class="panel panel-primary">
      <div class="panel-heading" style="font-size: large">
        <h1>Product List</h1>
      </div>

      <div class="panel-body">
        <table ng-controller="ProductListCtrl as vm" class="table table-striped">
          <thead>
            <tr>
              <th><button type="button" ng-click="vm.toggleImage()" class="btn btn-primary">{{vm.showImage ? "hide" : "show"}} Image</button></th>
              <th>Product</th>
              <th>Code</th>
              <th>Available</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in vm.products">
              <td>
                <img ng-if="vm.showImage" ng-src="{{product.imageUrl}}" title="{{product.product.productName}}" style="width: 60px; margin: 5px;"/>
              </td>
              <td>{{ product.productName }}</td>
              <td>{{ product.productCode }}</td>
              <td>{{ product.releaseDate }}</td>
              <td>{{ product.price | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </body>
</html>
